<div id='delete-modal{{instrument.id}}' class="ui basic modal">
    <div class="ui center aligned icon header">
    
        <i class="user times icon"></i>
        Eliminar Instrumento
    </div>
    <div class="ui content">
        <center>
            <h3>
                Esta seguro que desea eliminar a {{instrument.name}}? 
            </h3>
            <p>
                Si lo acepta, este instrumento se eliminara por completo del sistema
            </p>
        </center>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Si
        </div>
    </div>
</div>