<div id='active-modal{{user.id}}' class="ui basic modal">
    <div class="ui center aligned icon header">
        {% if user.active %}
            <i class="user times icon"></i>
            Desactivar usuario
        </div>
        <div class="ui content">
            <center>
                <h3>
                    Esta seguro que desea desactivar a {{user.username}}?
                </h3>
                <p> 
                    Si lo acepta, este usuario no podra utilizar el sistema hasta
                    que vuelva a ser activado
                </p> 
            </center>
        </div>
        {% else %}
                <i class="user plus icon"></i>
                Activar usuario
            </div>
            <div class="ui content">
                <center>
                    <h3>
                        Esta seguro que desea activar a {{user.username}}? 
                    </h3>
                    <p>
                        Si lo acepta, este usuario volvera a funcionar en el sistema
                    </p>
                </center>
            </div>
        {% endif %}
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            si
        </div>
    </div>
</div>