{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h1 class="ui icon header">
        <i class="settings icon"></i>
        <div class="content">
            ERROR 404
            <div class="sub header"> 
                Lo sentimos pero la pagina que ha solicitado no se encuentra, o se ha movido.
                <br />
                Por favor intente mas tarde o vaya a nuestra pagina de <a href="{{url_for('home_page')}}">inicio</a>                
            </div>
        </div>
    </h1>

    <link rel="stylesheet" type="text/css" href="https://gitcdn.xyz/repo/pi0/clippyjs/master/assets/clippy.css">
    <script src="https://unpkg.com/clippyjs@latest"></script>
    <script type="text/javascript">
        clippy.load('Clippy', function(agent){
            // Do anything with the loaded agent
            agent.show();
            agent.moveTo(500,300);
            agent.speak("Parece que quieres ingresar a una pagina que no existe,\n\n\n ¿Necesitas ayuda?")
            setInterval(() => {
                agent.speak('Estas ahi?')
                agent.play('GetAttention')
            }, 20000)
        });
  </script>
{% endblock %}
