{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %} 
	<div class="ui segment">   
        <h1 class="ui center aligned header">Crear un usuario</h1>
        <form class="ui form" action="{{ url_for('user_create') }}" method="POST">
            <div class="field">
                <label>Usuario</label>
                <input type="text" name="username" placeholder="Usuario" required/>
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="field">
                <label>Nombre</label>
                <input type="text" name="first_name" placeholder="Nombre" required/>
            </div>
            <div class="field">
                <label>Apellido</label>
                <input type="text" name="last_name" placeholder="Apellido" required/>
            </div>
            <div class="field">
                <label>Contraseña</label>
                <input type="password" minlength="6" name="password" placeholder="Contraseña" required/>
            </div>
            <div class="field">
                <label>Confirmar Contraseña</label>
                <input type="password" name="confirm_password" minlength="6" placeholder="Confirmar Contraseña" required/>
            </div>
            <button class="fluid ui primary button" type="submit">Registrar</button>
        </form>
	</div>
{% endblock %}