{% extends "layout.html" %}
{% block title %}Estudiantes{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %} 
	<div class="ui segment">   

        <h1 class="ui center aligned header">Modificar estudiante</h1>
        <form class="ui form" action="/estudiante/{{student.id}}/modificar" method="POST">
            <div class="field">
               <label>Datos Personales</label>
                <div class="two fields">
                    <div class="field">
                        <label>Nombre</label>
                        <input type="text" name="first_name" placeholder="Nombre" value="{{student.first_name}}" required/>
                    </div>
                    <div class="field">
                        <label>Apellido</label>
                        <input type="text" name="last_name" placeholder="Apellido" value="{{student.last_name}}" required/>
                    </div>
               </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Genero</label>
                    <select class="ui fluid dropdown" name='gender'>    
                        <option value="" disable>Genero</option>
                        {% for key in genders %}
                            {% if key.id == student.gender_id %}
                                <option value="{{key.id}}" selected>{{key.name}}</option>
                            {% else %}
                                <option value="{{key.id}}">{{key.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Tipo de documento</label>
                    <select class="ui fluid dropdown" name='document_type'>
                        <option value="" disable>Tipo de documento</option>
                        {% for key in types %}
                            {% if  student.document_type_id == key.id | int  %}
                                <option value="{{key.id}}" selected>{{key.nombre}}</option>
                            {% else %}
                                <option value="{{key.id}}">{{key.nombre}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Numero de Documento</label>
                    <input type="number" name="number" placeholder="Numero de Documento" value="{{student.number}}" required/>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" name="birth_date" placeholder="Fecha de Nacimiento" value="{{student.birth_date}}" required/>
                </div>
                <div class="field">
                    <label>Lugar de Nacimiento</label>
                    <input type="text" name="place_of_birth" placeholder="Lugar de Nacimiento" value="{{student.place_of_birth}}" required/>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Localidad</label>
                    <select class="ui fluid dropdown" name='location'>
                        <option value="" disable>Localidad</option>
                        {% for key in locations %}
                            {% if  student.location_id == key.id | int  %}
                                <option value="{{key.id}}" selected>{{key.nombre}}</option>
                            {% else %}
                                <option value="{{key.id}}">{{key.nombre}}</option>
                            {% endif %}    
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Domicilio</label>
                    <input type="text" name="home" placeholder="Domicilio" value="{{student.home}}" required/>
                </div>
                <div class="field">
                    <label>Barrio</label>
                    <select class="ui fluid dropdown" name='town_down'>
                        <option value="" disable>Barrio</option>
                        {% for key in town_downs %}
                            {% if key.id == student.gender_id %}
                                <option value="{{key.id}}" selected>{{key.name}}</option>
                            {% else %}
                                <option value="{{key.id}}">{{key.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Telefono</label>
                    <input type="text" name="phone" placeholder="Telefono" value="{{student.phone}}" required/>
                </div>
                <div class="field">
                    <label>Escuela</label>
                    <select class="ui fluid dropdown" name='school'>
                        <option value="" disable>Escuela</option>
                        {% for key in schools %}
                            {% if key.id == student.school_id %}
                                <option value="{{key.id}}" selected>{{key.name}}</option>
                            {% else %}
                                <option value="{{key.id}}">{{key.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Nivel</label>
                    <select class="ui fluid dropdown" name='level'>
                        <option value="" disable>Nivel</option>
                        {% for key in levels %}
                            {% if key.id == student.level_id %}
                                <option value="{{key.id}}" selected>{{key.name}}</option>
                            {% else %}
                                <option value="{{key.id}}">{{key.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                    <label>Responsable a Cargo</label>
                    <input type="text" name="responsable" placeholder="Responsable a Cargo" value="{{student.responsable}}" required/>
                </div>
            <button class="fluid ui primary button" type="submit">Modificar</button>
        </form>
	</div>
{% endblock %}