{% extends "layout.html" %}
{% block title %}Estudiantes{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %} 
	<div class="ui segment">   

        <h1 class="ui center aligned header">Registrar un estudiante</h1>
        <form class="ui form" action="{{ url_for('student_create') }}" method="POST">
            <div class="field">
               <label>Datos Personales</label>
                <div class="two fields">
                    <div class="field">
                        <label>Nombre</label>
                        <input type="text" name="first_name" placeholder="Nombre" required/>
                    </div>
                    <div class="field">
                        <label>Apellido</label>
                        <input type="text" name="last_name" placeholder="Apellido" required/>
                    </div>
               </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Genero</label>
                    <select class="ui fluid dropdown" name='gender'>    
                        <option value="" disable>Genero</option>
                        {% for key in genders %}
                            <option value="{{key.id}}">{{key.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Tipo de documento</label>
                    <select class="ui fluid dropdown" name='document_type'>
                        <option value="" disable>Tipo de documento</option>
                        {% for key in types %}
                            <option value="{{key.id}}">{{key.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Numero de Documento</label>
                    <input type="number" name="number" placeholder="Numero de Documento" required/>
                </div>
            </div>
            <div class="two fields">
                    <div class="field">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" name="birth_date" placeholder="Fecha de Nacimiento" required/>
                    </div>
                    <div class="field">
                        <label>Lugar de Nacimiento</label>
                        <input type="text" name="place_of_birth" placeholder="Lugar de Nacimiento" required/>
                    </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Localidad</label>
                    <select class="ui fluid dropdown" name='location'>
                        <option value="" disable>Localidad</option>
                        {% for key in locations %}
                            <option value="{{key.id}}">{{key.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Domicilio</label>
                    <input type="text" name="home" placeholder="Domicilio" required/>
                </div>
                <div class="field">
                    <label>Barrio</label>
                    <select class="ui fluid dropdown" name='town_down'>
                        <option value="" disable>Barrio</option>
                        {% for key in town_downs %}
                            <option value="{{key.id}}">{{key.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Telefono</label>
                    <input type="text" name="phone" placeholder="Telefono" required/>
                </div>
                <div class="field">
                    <label>Escuela</label>
                    <select class="ui fluid dropdown" name='school'>
                        <option value="" disable>Escuela</option>
                        {% for key in schools %}
                            <option value="{{key.id}}">{{key.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Nivel</label>
                    <select class="ui fluid dropdown" name='level'>
                        <option value="" disable>Nivel</option>
                        {% for key in levels %}
                            <option value="{{key.id}}">{{key.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                    <label>Responsable a Cargo</label>
                    <input type="text" name="responsable" placeholder="Responsable a Cargo" required/>
                </div>
            <button class="fluid ui primary button" type="submit">Registrar</button>
        </form>
	</div>
{% endblock %}